@model GoalBasedMvc.Models.INetwork

@section Scripts{

    <script>
        $(function () {

            var network = @Html.Raw(Json.Serialize(Model));


            var selectedNode;
            var distributionChart, cashFlowsChart, goalAttainmentChart;

            init();

            function init() {
                Chart.defaults.scale.gridLines.display = false;
                $('#selectDistribution').change(selectDistributionByIndex);
                $('button[data-node-id]').click(selectNode);
                $('input[data-node-id]').change(changeNodeInput);
                $('input[data-distribution-field]').change(changeDistributionInput);
                $('button[data-node-id]').first().click();
                createCashFlowsGraph();
                createGoalAttainmentGraph();
                setPortfolioStatistics();
                createPortfolioHistogramGraph();
            }

            function selectNode() {
                var element = $(this);
                $('button[data-node-id]').removeClass('btn-success');
                element.addClass('btn-success');
                var nodeId = element.data('nodeId');
                selectedNode = network.nodes[nodeId];
                setNodeStatistics(selectedNode);
                setSelectDistributionOptions(selectedNode);
                selectDistributionByIndex();
                createNodeHistogramGraph();
            }

            function changeNodeInput() {
                var element = $(this);
                var nodeId = element.data('nodeId');
                var nodeField = element.data('nodeField');
                var node = network.nodes[nodeId];
                node[nodeField] = element.val();
            }

            function changeDistributionInput() {
                var element = $(this);
                var distributionField = element.data('distributionField');
                selectedDistribution[distributionField] = element.val();
            }

            function setNodeStatistics(selectedNode) {
                $('#nodeMean').html(selectedNode.statistics.mean.toFixed(3));
                $('#nodeStdev').html(selectedNode.statistics.stdev.toFixed(3));
                $('#nodeSkew').html(selectedNode.statistics.skew.toFixed(3));
                $('#nodeKurt').html(selectedNode.statistics.kurt.toFixed(3));
            }

            function setPortfolioStatistics() {
                $('#portfolioMean').html(network.portfolio.statistics.mean.toFixed(3));
                $('#portfolioStdev').html(network.portfolio.statistics.stdev.toFixed(3));
                $('#portfolioSkew').html(network.portfolio.statistics.skew.toFixed(3));
                $('#portfolioKurt').html(network.portfolio.statistics.kurt.toFixed(3));
            }

            function selectDistributionByIndex() {
                var index = $('#selectDistribution').val();
                selectedDistribution = selectedNode.distributions[index];
                $('#distributionMean').html(selectedDistribution.mean.toFixed(3));
                $('#distributionStdev').html(selectedDistribution.stdev.toFixed(3));
                $('#distributionSkew').html(selectedDistribution.skew.toFixed(3));
                $('#distributionKurt').html(selectedDistribution.kurt.toFixed(3));
                $("p[data-distribution-field='minimum']").text(selectedDistribution.minimum);
                $("p[data-distribution-field='worst']").text(selectedDistribution.worst);
                $("p[data-distribution-field='likely']").text(selectedDistribution.likely);
                $("p[data-distribution-field='best']").text(selectedDistribution.best);
                $("p[data-distribution-field='maximum']").text(selectedDistribution.maximum);

                if (distributionChart) {
                    var label = ["Minimum", "Worst", "Likely", "Best", "Maximum"];
                    var distributionData = getDistributionGraphData(selectedDistribution);
                    removeGraphData(distributionChart);
                    addGraphData(distributionChart, distributionData, label);
                } else {
                    createDistributionGraph(selectedDistribution);
                }

            }

            function setSelectDistributionOptions(selectedNode) {
                $('#selectDistribution').empty();
                if (!selectedNode.parent) {
                    $('<option>Distribution</option>').val(0).appendTo('#selectDistribution');
                }else{
                    $('<option>Left Tail</option>').val(0).appendTo('#selectDistribution');
                    $('<option>Left Normal</option>').val(1).appendTo('#selectDistribution');
                    $('<option>Right Normal</option>').val(2).appendTo('#selectDistribution');
                    $('<option>Right Tail</option>').val(3).appendTo('#selectDistribution');
                }
            }

            function createDistributionGraph(selectedDistribution) {
                var distributionData = getDistributionGraphData(selectedDistribution);
                var distributionCtx = document.getElementById("distributionChart").getContext("2d");
                distributionChart = new Chart(distributionCtx, {
                    type: 'scatter',
                    data: {
                        labels: ["Minimum", "Worst", "Likely", "Best", "Maximum"],
                        datasets: [{
                            label: 'Distribution',
                            showLine: true,
                            lineTension: 0,
                            data: distributionData
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    drawBorder: false,
                                },
                                ticks: {
                                    display: false
                                }
                            }],
                            xAxes: [{
                                type: 'linear',
                                position: 'bottom',
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function removeGraphData(chart) {
                chart.data.labels = [];
                chart.data.datasets[0].data = [];
                chart.update();
            }

            function addGraphData(chart, data, labels) {
                chart.data.labels = labels
                chart.data.datasets[0].data = data;
                chart.update();
            }

            function getDistributionGraphData(distribution) {
                return [
                    { x: distribution.minimum, y: 0 },
                    { x: distribution.worst, y: distribution.heightWorst },
                    { x: distribution.likely, y: distribution.heightLikely },
                    { x: distribution.best, y: distribution.heightBest },
                    { x: distribution.maximum, y: 0 }
                ];
            }

            function createCashFlowsGraph() {
                var cashFlows = network.cashFlows.map(function (cashFlow) { return cashFlow.cost });
                var cashFlowsLabels = getTimeSeriesGraphLabels(cashFlows);
                var cashFlowsCtx = document.getElementById("cashFlowsChart").getContext("2d");

                cashFlowsChart = new Chart(cashFlowsCtx, {
                    type: 'line',
                    data: {
                        labels: cashFlowsLabels,
                        datasets: [{
                            label: 'Cash Flow',
                            lineTension: 0,
                            data: cashFlows
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function createGoalAttainmentGraph() {
                var goalAttainmentLabels = getTimeSeriesGraphLabels(network.portfolio.successProbabilities);
                var goalAttainmentCtx = document.getElementById("goalAttainmentChart").getContext("2d");

                goalAttainmentChart = new Chart(goalAttainmentCtx, {
                    type: 'line',
                    data: {
                        labels: goalAttainmentLabels,
                        datasets: [{
                            label: 'Goal Attainment',
                            lineTension: 0,
                            data: network.portfolio.successProbabilities
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function createNodeHistogramGraph() {
                var labels = selectedNode.histogram.map(function (point) { return point.interval.toFixed(0) });
                var data = selectedNode.histogram.map(function (point) { return point.frequency }); 
                var goalAttainmentCtx = document.getElementById("nodeHistogramChart").getContext("2d");

                goalAttainmentChart = new Chart(goalAttainmentCtx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Frequency',
                            data: data
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    drawBorder: false,
                                },
                                ticks: {
                                    display: false
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold',
                                    autoSkip: true,
                                    maxTicksLimit: 20
                                }
                            }]
                        }
                    }
                });
            }

            function createPortfolioHistogramGraph() {
                var labels = network.portfolio.histogram.map(function (point) { return point.interval.toFixed(0) });
                var data = network.portfolio.histogram.map(function (point) { return point.frequency });
                var goalAttainmentCtx = document.getElementById("portfolioHistogramChart").getContext("2d");

                goalAttainmentChart = new Chart(goalAttainmentCtx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Frequency',
                            data: data
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    drawBorder: false,
                                },
                                ticks: {
                                    display: false
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold',
                                    autoSkip: true,
                                    maxTicksLimit: 20
                                }
                            }]
                        }
                    }
                });
            }

            function getTimeSeriesGraphLabels(data) {
                var labels = [];
                for (var cnt = 0; cnt < data.length; cnt++) {
                        labels.push("Year " + cnt);
                }
                return labels;
            }

         });
    </script>

}

<div class="panel panel-primary">

    <ol class="breadcrumb">
        <li><a href="/">Networks</a></li>
        <li class="active">@Model.Name</li>
        <li>@Html.ActionLink("Nodes", "Nodes", "Network")</li>
    </ol>

    <form class="panel-body">

        <div id="goalAttainmentContainer" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Probability of Success</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="goalAttainmentChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Cash Flows</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="cashFlowsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Portfolio</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="portfolioHistogramChart"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Average</th>
                                        <th>Volatility</th>
                                        <th>Skewness</th>
                                        <th>Kurtosis</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="portfolioMean"></td>
                                        <td id="portfolioStdev"></td>
                                        <td id="portfolioSkew"></td>
                                        <td id="portfolioKurt"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Nodes</h3>
                </div>

                <div class="table-responsive">
                    <table id="tblNodes" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Parent</th>
                                <th>Initial Investment</th>
                                <th>Initial Price</th>
                                <th>Portfolio Component?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var node in Model.Nodes.Values)
                            {
                                <tr>
                                    <td>@node.Id</td>
                                    <td>@node.Name</td>
                                    <td>@node.Parent?.Name</td>
                                    <td>@node.InitialInvestment</td>
                                    <td>@node.InitialPrice</td>
                                    <td>@node.IsPortfolioComponent</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">Selected Node</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <canvas id="nodeHistogramChart"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Average</th>
                                                    <th>Volatility</th>
                                                    <th>Skewness</th>
                                                    <th>Kurtosis</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="nodeMean"></td>
                                                    <td id="nodeStdev"></td>
                                                    <td id="nodeSkew"></td>
                                                    <td id="nodeKurt"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Distributions</h5>
                                </div>

                                <div class="row">
                                    <div class="col-xs-8 col-sm-6 col-md-4">
                                        <select id="selectDistribution" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-2 col-sm-offset-1">
                                            <div class="form-group">
                                                <label>Minimum</label>
                                                <p data-distribution-field="minimum" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Worst</label>
                                                <p data-distribution-field="worst" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Likely</label>
                                                <p data-distribution-field="likely" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Best</label>
                                                <p data-distribution-field="best" class="form-control-static"></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Maximum</label>
                                                <p data-distribution-field="maximum" class="form-control-static"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <canvas id="distributionChart"></canvas>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Average</th>
                                                            <th>Volatility</th>
                                                            <th>Skewness</th>
                                                            <th>Kurtosis</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td id="distributionMean"></td>
                                                            <td id="distributionStdev"></td>
                                                            <td id="distributionSkew"></td>
                                                            <td id="distributionKurt"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


</form>

</div>




